$yellow: #fffa19;
$red: #d11117;
$green: #209e28;


@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $yellow;
	color: black;
	margin-top: 50px;
}

/*btn{
	background-color:blue;
}*/

.footer{
	padding:10px 10px 0 10 px;
	background-color: $yellow;
	@include margenes(10px, 0px);
}

.card-hotel{
	flex: 1 200px;	
	@include margenes(10px, 0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}